
{
    "presets": [
      ["@babel/env", { "modules": "commonjs" }],
      "next/babel","@babel/preset-react"
    ],
    "plugins": [
      ["import", {
        "libraryName": "antd",
        "style":true
      }]
    ]
  }