.course-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: #fff;
    height: 220px;
}

.course-header-content {
    max-width: 1200px;
    margin:0 auto;
}

.course-header h2 {
    margin: 20px 0;
}

.course-card {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    margin:20px auto;
}

.course-setting {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 200px;
    right:0;
    background:#FA541C;
    border-radius:4px 0 0 4px;
    text-align:center;
    padding-top: 12px;
}

.course-setting i {
    color: #fff;
    font-size: 20px;
    display: inline;
}

.course-btn {
    float: right;
    margin-right: 20%;
}

.checked {
    margin-left: 10px;
    color:green
}